/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .column.small-centered {
 margin-left: auto;
 margin-right: auto;
 float: none !important; }

 $menu-hover-lines-transition: all 0.35s ease;
 $menu-hover-lines-border-width: 3px;

 .menu-hover-lines {
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   transition: $menu-hover-lines-transition;


   li:first-child a {
     margin-left: 0;
   }

   li.active > a {
     background-color: transparent;
   }

   a:before,
   a::after {
     height: $menu-hover-lines-border-width;
     position: absolute;
     content: '';
     transition: $menu-hover-lines-transition;
     background-color: #041122;
     width: 0;
   }

   a::before {
     top: 0;
     left: 0;
   }

   a::after {
     bottom: 0;
     right: 0;
   }

   a:hover,
   li.active > a {
     color: #041122;
     transition: $menu-hover-lines-transition;
   }

   a:hover::before,
   .active a::before,
   a:hover::after,
   .active a::after {
     width: 100%;
   }
 }
