/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
 .column.small-centered {
 margin-left: auto;
 margin-right: auto;
 float: none !important; }

 $menu-hover-lines-transition: all 0.35s ease;
 $menu-hover-lines-border-width: 3px;

 .menu-hover-lines {
   text-align: center;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 1px;
   transition: $menu-hover-lines-transition;


   li:first-child a {
     margin-left: 0;
   }

   li.active > a {
     background-color: transparent;
   }

   a:before,
   a::after {
     height: $menu-hover-lines-border-width;
     position: absolute;
     content: '';
     transition: $menu-hover-lines-transition;
     background-color: #036564;
     width: 0;
   }

   a::before {
     top: 0;
     left: 0;
   }

   a::after {
     bottom: 0;
     right: 0;
   }

   a:hover,
   li.active > a {
     color: #041122;
     transition: $menu-hover-lines-transition;
   }

   a:hover::before,
   .active a::before,
   a:hover::after,
   .active a::after {
     width: 100%;
   }
 }

 $menu-underline-from-center-bg: #2C3840;
 $menu-underline-from-center-border-thickness: 0.125rem;

 .hover-underline-menu {
   width: 100%;

   .menu {
     background-color: #041122;

     a {
       color: #ffffff;
       padding: 1.2rem 1.5rem;
     }

     .underline-from-center {
       position: relative;

       &::after {
         content: "";
         position: absolute;
         top: calc(100% - #{$menu-underline-from-center-border-thickness});
         border-bottom: $menu-underline-from-center-border-thickness solid #ffffff;
         left: 50%;
         right: 50%;
         transition: all 0.5s ease;
       }

       &:hover::after {
         left: 0;
         right: 0;
         transition: all 0.5s ease;
       }
     }
   }
 }

// form
 $translucent-form-overlay-max-width: 500px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  width: 100%;
  background-color: #259073;
  padding: 20px;
  color: #ffffff;


  // workaround 6.3.0 bug
  .columns.row {
    display: block;
  }

  h3, label {
    color: #ffffff;
  }
  input, select {
    color: #2c3840;
  }
  input::placeholder {
    color: #041122;
  }
}

$hero-height: 60vh;

.hero-section {
  background: url('https://static.pexels.com/photos/196464/pexels-photo-196464.jpeg') 50% no-repeat;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: #ffffff;
    text-shadow: 1px 1px 2px #2c3840;
  }
}

//heart

.interface-component {
  font-family: 'Fredericka the Great', cursive;
  color: #041122;
  width: 160px;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  margin: 30px auto;
}

.interface-component-title {
  font-size: 24px;
  margin-bottom: 8px;
}

.interface-module {
  line-height: 24px;
  margin-bottom: 24px;
}

.interface-module .interface-module-title {
  text-transform: uppercase;
}

.interface-module .interface-module-element {
  position: relative;
}

.interface-module .interface-module-element > span {
  display: block;
  font-size: 16px;
}

.interface-module .interface-module-element-console > span {
  margin-left: 16px;
}

.icon-heart {
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-animation-name: animation-heart;
  animation-name: animation-heart;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes animation-heart {
  0% {
    width: 18px;
  }
  100% {
    width: 13px;
  }
}

@keyframes animation-heart {
  0% {
    width: 18px;
  }
  100% {
    width: 13px;
  }
}
