
<div class="page-header">
  <h1>User info</h1>
</div>
<div class="page-body">
  <ul>
    <li><strong>User:</strong><%= current_user.id %></li>
    <li><strong>Provider:</strong><%= current_user.provider %></li>
    <li><strong>Timezone:</strong><%= current_user.timezone %></li>
  </ul>
</div>


<h2>Activity Log</h2>
